<html>
<meta>
</meta>

<head>
	<title>Login</title>
</head>

<body style="background-color:gray">
	<form method=post>
		<p>Username: <input type=text name=username></p>
        <p>Password: <input id=passwordField type=password name=password><input type=checkbox onclick=toggleShowPass()>Show Password</p>
        <p><input type=submit value=Login></p>
        </form>
        {% if login_fail %}
        <p style="color:red">
            Incorrect Username or Password
        </p>
        {% endif %}
</body>
</html>
<script>
    function toggleShowPass()
    {
        var x = document.getElementById("passwordField");
        if(x.type === "password"){
            x.type = "text";
        } else{
            x.type = "password"
        }
    }
</script>