<html>

<head>
	<link rel="stylesheet" href={{ url_for( 'static', filename='table.css' ) }} type="text/css">
</head>

<body vlink="#ff0000">
	<a href="/logout"><button>Log Out</button></a>
	<div class="divTable" style="border: 2px solid #000;">
		<div class="divTableBody"
            <div class="divTableHeading">
                <div class="divTableHead">
                    <strong>ID</strong>
                </div>
                <div class="divTableHead">
                    <strong>Name</strong>
                </div>
                <div class="divTableHead">
                    <strong>Username</strong>
                </div>
                <div class="divTableHead">
                    <strong>Password</strong>
                </div>
                <div class="divTableHead">
                    <strong>URL</strong>
                </div>
            </div>
			{% for row in pwdata %}
			<div class="divTableRow">
                <div class="divTableCell">
                    {{ row['pwid'] }}
                </div>
				<div class="divTableCell">
					{{ row['name'] }}
				</div>
				<div class="divTableCell">
					{{ row['uname'] }}
				</div>
				<div class="divTableCell">
					{{ row['pwd'] }}
				</div>
				<div class="divTableCell">
					{{ row['url'] }}
                 </div>
			</div>
			{% endfor %}
		</div>
	</div>
<a href='/add'><button>Add a Password</button></a>
</body>

</html>